/*
font-family: 'Lobster', cursive;
*/

#contenidos{
	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;
	background: gray;

}

body{
	background-image: url(..img/unad.png);
	background-repeat: no-repeat;
	background-size: cover;
}

h1{
    font-family: 'Lobster', cursive;
	margin-left: 10px;
	font-size:	60px;
	text-align: center;
}

header{
	width: 1000px;
	height: auto;
	background: blue;
}