/*
font-family: 'Lobster', cursive;
*/

#contenidos{
	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;
	background-color: #F47920;


}

body{
	background-image: url('img/unad.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

h1{
    font-family: 'Angsana New Bold';
	margin-left: 10px;
	font-size:	60px;
	text-align: center;
	color: #50B748;
}

h2{
    font-family: 'Angsana New Bold';
}

h3{
    font-family: 'Angsana New Bold';
}

header{
	width: 1000px;
	height: auto;
    background-color: #F0B429;
}