/*
font-family: 'Lobster', cursive;
*/

#contenidos{
	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;
	background-color: #F0B429;


}

body{
	background-image: url(../img/unad.png);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Angsana New Bold';
    color: #005883;
}

h1{
    margin-left: 10px;
	font-size:	60px;
	text-align: center;
	color: #50B748;
}

h2{
    margin-left: 10px;
	font-size:	30px;
	text-align: center;
	color: #F47920;
}

header{
	width: 1000px;
	height: auto;
	background-color: #F0B429;

}

.menu li a {
background-color: #000;
color: #fff;
text-decoration: none;
padding: 10px 15px;
display: block;

}

.menu li {
text-align: center;
list-style: none;
height: auto;
background: black;

}

.menu > li {
float: auto;

}


